use_guix racket@8.14
raco pkg install --auto --skip-installed megaparsack-lib threading pvector cover ansi-color review # rackunit-typed
# fmt
export_alias t "# run all tests" "raco test -y -t -x -j 8 ."
export_alias m "# make all rkt files" "raco make -v -j 8 \$(find \${DIRENV_DIR:1}/src -type d -not -name 'compiled' -printf '%p/*.rkt ' | tr '\n' ' ')"
export_alias b "# make and test all rkt files"  "m && t"
export_alias c "# clean previous build artifacts" "find \"\${DIRENV_DIR:1}\" \( -name '*.zo' -or -name '*.dep' \) -exec rm {} \;  || echo -n; echo \"cleaned.\""
export_alias bb "# clean, make and test rkt files"  "c && m && t"
export_alias pp "# print vars" "echo \"project root: \${DIRENV_DIR:1}\""
export_alias cov "# get coverage" "raco cover \$(find \${DIRENV_DIR:1} -name \"*.rkt\" -not \( -wholename '*/example*' -or -wholename '*/compiled*' -or -wholename '*/.direnv*' -or -wholename '*/compiled*' -or -wholename '*/auto*' -or -wholename '*/coverage*' \) -exec dirname {} \; | sort | uniq | tail --lines=+2 | xargs realpath | sed -e 's/$/\/\*\.rkt/' | tr '\n' ' ')"
export_alias show-cov "# show collected coverage" "chromium \${DIRENV_DIR:1}/coverage/index.html &>/dev/null"
export_alias scc "# collect and show coverage" "cov && show-cov"
