use_guix --ad-hoc "racket@8.6"
raco pkg install --auto --skip-installed megaparsack-lib threading pvector cover
export_alias t "raco test -y -t -x -j 8  ."
export_alias m "raco make -v -j 8 *.rkt"
export_alias b "m && t"
