use_guix --ad-hoc "racket@8.7"
raco pkg install --auto --skip-installed megaparsack-lib threading pvector cover ansi-color
export_alias a "{ if [ \"\$1\" == \"--help\" ]; then echo \"get info of all defined aliases\"; else echo \"available aliases:\"; for al in \$(ls -1 \${DIRENV_DIR:1}/.direnv/aliases); do echo -n \$al; echo -ne \"\\t\"; \$al --help; done; fi } #"
export_alias t "{ if [ \"\$1\" == \"--help\" ]; then echo \"run all tests\"; else raco test -y -t -x -j 8 .; fi } #"
export_alias m "{ if [ \"\$1\" == \"--help\" ]; then echo \"make all rkt files\"; else raco make -v -j 8 *.rkt; fi } #"
export_alias b "{ if [ \"\$1\" == \"--help\" ]; then echo \"make and test all rkt files\"; else m && t; fi } #"
export_alias c "{ if [ \"\$1\" == \"--help\" ]; then echo \"clean previous build artifacts\"; else echo \"cleaning ...\"; rm \${DIRENV_DIR:1}/compiled/*.zo 2>/dev/null || echo -n; rm \${DIRENV_DIR:1}/compiled/*.dep 2>/dev/null || echo -n; echo \"cleaned.\"; fi } #"
export_alias bb "{ if [ \"\$1\" == \"--help\" ]; then echo \"clean, make and test rkt files\"; else c && m && t; fi } #"
